# HOW TO USE:
#
# 1 Add environment variables for the various stages here
# 2 Rename this file to env.yml and uncomment it's usage
#   in the serverless.yml.
# 3 Make sure to not commit this file.

prod:
  MONGO_URI: "mongodb://user:password@example-shard-00-00-anzcj.mongodb.net:28018,example-shard-00-01-anzcj.mongodb.net:28018,example-shard-00-02-anzcj.mongodb.net:28018/test?ssl=true&replicaSet=example-shard-0&authSource=admin&retryWrites=true"

dev:
  MONGO_URI: "mongodb://user:password@example-shard-00-00-anzcj.mongodb.net:28018,example-shard-00-01-anzcj.mongodb.net:28018,example-shard-00-02-anzcj.mongodb.net:28018/test?ssl=true&replicaSet=example-shard-0&authSource=admin&retryWrites=true"
